<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Library</title>
</head>

<body style="margin:0px; padding:0px; width:100%; background-color: black;">

<% include templates/header ; %>

<h1 style="position:relative; color: white; text-align: center;">Welcome to My Library</h1>
<div class="container" style="background-color: white; position:relative;">

</div>

</body>

</html>