<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Book Registration</title>
</head>

<body style="margin:0px; padding:0px; width:100%; background-color: black;">

	<% include templates/header ; %>

	<div style="position:relative; background-color: white; text-align: center; padding: 50px" class="container">
		<h3 style="position:relative; text-align: center;">Register a New Book</h3>
		<form class="col s12" enctype="application/json" action="/post/book" method="POST">
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="Eg. The Broken Code" name="title" type="text" class="validate" required="required" pattern="[a-zA-Z0-9 ]{1,50}">
					<label for="title">Title *</label>
					<span class="helper-text" data-error="This is a mandatory field. It can only contain letters and numbers." data-success="Valid"></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="Eg. A nightmare of an IT student"  name="subtitle" type="text" class="validate" pattern="[a-zA-Z0-9 ]{1,50}">
					<label for="subtitle">Subtitle</label>
					<span class="helper-text" data-error="It can only contain letters and numbers." data-success="Valid"></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="Eg. Bruno Ribeiro" name="author" type="text" class="validate" required="required" pattern="[A-Za-z ]{1,50}">
					<label for="author">Author *</label>
					<span class="helper-text" data-error="This is a mandatory field. It can only contain letters." data-success="Valid"></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="Eg. CCT College Books" name="publisher" type="text" class="validate" required="required" pattern="[A-Za-z0-9]{1,50}">
					<label for="publisher">Publisher *</label>
					<span class="helper-text" data-error="This is a mandatory field.  It can only contain letters and numbers." data-success="Valid"></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="Eg. 2019/2ª" name="year_edition" type="text" class="validate" required="required" pattern="[0-9/ª]{1,8}">
					<label for="year_edition">Edition *</label>
				</div>
				<span class="helper-text" data-error="This is a mandatory field. Please match with the format given." data-success="Valid"></span>
			</div>
			<p>
				<label>
                    <input type="checkbox" id="checked" value="yes" onclick="javascript:unhide()" />
                    <span>Already read it?</span>
                </label>
			</p>
            <div id="year" style="visibility: hidden;" class="row" value="false">
				<div class="input-field col s12">
					<input placeholder="Eg. 2019" name="read_year" type="text" class="validate" pattern="[0-9]{1,4}">
					<label for="year_edition">When?</label>
				</div>
				<span class="helper-text" data-error="This is a mandatory field. Please match with the format given." data-success="Valid"></span>
			</div>
			<button class="btn waves-effect waves-light" type="submit" name="post">Submit
             <i class="material-icons right">send</i>
            </button>
		</form>
	</div>
    <script type="text/javascript">
        function unhide(){
            if(document.getElementById('checked').checked){
            document.getElementById('year').style.visibility = 'visible';
            }else{
                document.getElementById('year').style.visibility = 'hidden';
            }
        }
    </script>
</body>

</html>