<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Pictures</title>
</head>

<body style="margin:0px; padding:0px; width:100%; background-color: black;">

	<% include templates/header ; %>
    <script type='text/javascript' src='https://www.skoob.com.br/widget/estante/16047/354595/'> </script>
    <h1 style="position:relative; color: white; text-align: center;">My favourite books</h1>
</body>

</html>