<footer class="page-footer" style="position: fixed;">
	<div class="footer-copyright">
		<div class="container">
			© 2019 Bruno Pereira Ribeiro - 2017138
			<a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/brunobpr/">In</a>
		</div>
	</div>
</footer>