<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript from Materialize -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin:0px; padding:0px;">
	<header>
		<nav>
			<div class="nav-wrapper light-blue darken-4">
				<!--This link refers to the file I have being building for a long time. It is my own file. -->
				<a href="https://1drv.ms/x/s!AreC_jhDXjcqgSgt70DMCRqVEskL?e=u05K55"
					class="brand-logo center"><img src="http://icons.iconarchive.com/icons/alecive/flatwoken/512/Apps-Google-Play-Books-icon.png" alt="" style="position:absolute; width:50px; height: 50px; margin-top: 5px;"></a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<ul id="nav-mobile" class="left hide-on-med-and-down" style="margin-left: 0px;">
						<li><a href="/">Home</a></li>
						<li><a href="/fav">Favourite Books</a></li>
						<li><a href="/library">Full Library</a></li>
					</ul>
			</div>
		</nav>
		<ul class="sidenav" id="mobile-demo">
			<li><a href="/">Home</a></li>
			<li><a href="/fav">Favourite Books</a></li>
			<li><a href="/library">Full Library</a></li>
		</ul>
		<!-- https://pxhere.com/zh/photo/1205380 -->
		<img src="https://c.pxhere.com/photos/a5/56/book_darkness_book_in_the_dark_black_and_white_nikon-1205380.jpg!d" alt="" style="position:absolute; width:100%;">
    </div>
	</header>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script>
		//Initialising Materialize CSS https://materializecss.com
		M.AutoInit();
	</script>

	<body>

</html>